.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    width: 95%;
    height: 80px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    z-index: 9999;
    background-color: #fff;
}

.navbar-logo {
    font-size: 2rem;
    color: #222;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i {
    padding-right: 10px;
}

.nav-links:hover {
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.nav-links-mobile {
    display: none;
}

button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

button:hover {
    background-color: #151516;
    color: #fff;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 850px) {
    .NavbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        background-color: #fff;
        padding: 80px 0 30px 0;
        margin: 0;
        border-radius: 13px;
        -webkit-border-radius: 13px;
        -moz-border-radius: 13px;
        -ms-border-radius: 13px;
        -o-border-radius: 13px;
    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .nav-links {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }

    .nav-links:hover {
        background-color: #01959a;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }

    button {
        display: none;
    }

    .nav-links-mobile {
        display: block;
        text-decoration: none;
        text-align: center;
        margin: auto;
        width: 80%;
        background-color: #01959a;
        padding: 1.5rem;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .menu-icons {
        display: block;
        cursor: pointer;
    }

    .menu-icons i {
        font-size: 1.2rem;
        color: #222;
    }
}